# This notebook splits avalnaches by dates for AR Detection

## WATER YEARS

### OCT 1 - SEPT 30

#### 2014-2015 : 16344 - 16708

#### 2015-2016 : 16709 - 17074

#### 2016-2017 : 17075 - 17439

#### 2017-2018 : 17440 - 17804

#### 2018-2019 : 17805 - 18169

#### 2019-2020 : 18170 - 18535

#### 2020-2021 : 18536 - 18900

In [4]:
import numpy as np
import pandas as pd
import netCDF4 as nc
import glob
import os
import numpy.ma as ma
import math
from netCDF4 import stringtochar
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
avalanche_weather = pd.read_csv('https://raw.githubusercontent.com/mmaliu97/CW3E_Avalanche_AR/main/data/avalanche_weather.csv')

In [7]:
avalanche_weather

,State,Latitude,Longitude,Date,SWE,Precipitation,Cumulative_Precipitation,Max_Temp,Min_Temp
0,AK,-145.63,63.20,16411,79.0,0.0,97.0,-1.6,-5.4
1,AK,-145.63,63.20,16410,79.0,0.0,97.0,-4.5,-10.1
2,AK,-145.63,63.20,16409,79.0,0.0,97.0,-9.6,-22.6
3,AK,-145.63,63.20,16408,79.0,0.0,97.0,-5.2,-20.9
4,AK,-145.63,63.20,16407,79.0,0.0,97.0,-4.1,-14.0
...,...,...,...,...,...,...,...,...,...
25707,WY,-110.91,42.51,18673,218.0,8.0,246.0,-2.7,-13.7
25708,WY,-110.91,42.51,18672,216.0,3.0,244.0,-8.4,-14.8
25709,WY,-110.91,42.51,18671,211.0,3.0,241.0,0.9,-9.7
25710,WY,-110.91,42.51,18670,201.0,10.0,231.0,2.3,-4.1
25711,WY,-110.91,42.51,18669,196.0,5.0,226.0,-1.0,-3.7

In [68]:
# Initializing variables

## WY 15 represents 2014-2015 WY

WY15 = pd.DataFrame(columns = ['State','Latitude', 'Longitude','Date','SWE', 'Precipitation', 'Cumulative_Precipitation',
                             'Max_Temp','Min_Temp'])
WY16 = pd.DataFrame(columns = ['State','Latitude', 'Longitude','Date','SWE', 'Precipitation', 'Cumulative_Precipitation',
                             'Max_Temp','Min_Temp'])
WY17 = pd.DataFrame(columns = ['State','Latitude', 'Longitude','Date','SWE', 'Precipitation', 'Cumulative_Precipitation',
                             'Max_Temp','Min_Temp'])
WY18 = pd.DataFrame(columns = ['State','Latitude', 'Longitude','Date','SWE', 'Precipitation', 'Cumulative_Precipitation',
                             'Max_Temp','Min_Temp'])
WY19 = pd.DataFrame(columns = ['State','Latitude', 'Longitude','Date','SWE', 'Precipitation', 'Cumulative_Precipitation',
                             'Max_Temp','Min_Temp'])
WY20 = pd.DataFrame(columns = ['State','Latitude', 'Longitude','Date','SWE', 'Precipitation', 'Cumulative_Precipitation',
                             'Max_Temp','Min_Temp'])
WY21 = pd.DataFrame(columns = ['State','Latitude', 'Longitude','Date','SWE', 'Precipitation', 'Cumulative_Precipitation',
                             'Max_Temp','Min_Temp'])

## Storing into each dataframe

In [71]:
for i in range(len(avalanche_weather)):
    state = avalanche_weather['State'][i]
    lat = avalanche_weather['Latitude'][i]
    lon = avalanche_weather['Longitude'][i]
    date = avalanche_weather['Date'][i]
    SWE = avalanche_weather['SWE'][i]
    ppt = avalanche_weather['Precipitation'][i]
    cppt = avalanche_weather['Cumulative_Precipitation'][i]
    max_t = avalanche_weather['Max_Temp'][i]
    min_t = avalanche_weather['Min_Temp'][i]

    if (16344 < date < 16708) == True:
        WY15 = WY15.append(avalanche_weather.loc[i])
        
    elif (16709 < date < 17074) == True:\
        
        WY16 = WY16.append(avalanche_weather.loc[i])
        
    elif (17075 < date < 17439) == True:
        WY17 = WY17.append(avalanche_weather.loc[i])
        
    elif (17440 < date < 17804) == True:
        WY18 = WY18.append(avalanche_weather.loc[i])
        
    elif (17805 < date < 18169) == True:
        WY19 = WY19.append(avalanche_weather.loc[i])
        
    elif (18170 < date < 18535) == True:
        WY20 = WY20.append(avalanche_weather.loc[i])
        
    elif (18536 < date < 18900) == True:
        WY21 = WY21.append(avalanche_weather.loc[i])
        
    else:
        pass

## Accessing each water year's dataframe

In [70]:
WY15 = WY15.reset_index(drop=True)

,State,Latitude,Longitude,Date,SWE,Precipitation,Cumulative_Precipitation,Max_Temp,Min_Temp
0,AK,-145.63,63.20,16411,79.0,0.0,97.0,-1.6,-5.4
1,AK,-145.63,63.20,16410,79.0,0.0,97.0,-4.5,-10.1
2,AK,-145.63,63.20,16409,79.0,0.0,97.0,-9.6,-22.6
3,AK,-145.63,63.20,16408,79.0,0.0,97.0,-5.2,-20.9
4,AK,-145.63,63.20,16407,79.0,0.0,97.0,-4.1,-14.0
...,...,...,...,...,...,...,...,...,...
22619,WY,-110.06,43.75,16570,470.0,8.0,706.0,7.8,-1.1
22620,WY,-110.06,43.75,16569,472.0,3.0,704.0,10.4,-2.0
22621,WY,-110.06,43.75,16568,472.0,3.0,701.0,11.3,-0.3
22622,WY,-110.06,43.75,16567,475.0,0.0,701.0,12.3,0.4
22623,WY,-110.06,43.75,16566,475.0,3.0,698.0,9.5,-10.3